<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" rel="stylesheet" href="resources/sheet.css">
<style type="text/css">.ritz .waffle a { color: inherit; }
.ritz .waffle .s2 {border-bottom: 1px SOLID #000;border-right: 1px SOLID #000;background-color: #fff;text-align: left;color: #000;font-family: 'docs-Helvetica Neue', Arial;font-size: 8pt;vertical-align: top;white-space: nowrap;direction: ltr;padding: 2px 3px 2px 3px;}
.ritz .waffle .s4 {border-bottom: 1px SOLID #000;border-right: 1px SOLID #000;background-color: #fff;text-align: left;color: #000;font-family: 'Arial';font-size: 10pt;vertical-align: bottom;white-space: nowrap;direction: ltr;padding: 2px 3px 2px 3px;}
.ritz .waffle .s3 {background-color: #fff;text-align: right;color: #000;font-family: 'Arial';font-size: 10pt;vertical-align: bottom;white-space: nowrap;direction: ltr;padding: 2px 3px 2px 3px;}
.ritz .waffle .s0 {border-bottom: 1px SOLID #000;background-color: #fff;text-align: left;color: #000;font-family: 'docs-Helvetica Neue', Arial;font-size: 8pt;vertical-align: top;white-space: nowrap;direction: ltr;padding: 2px 3px 2px 3px;}
.ritz .waffle .s5 {background-color: #fff;text-align: left;color: #000;font-family: 'docs-Helvetica Neue', Arial;font-size: 8pt;vertical-align: top;white-space: nowrap;direction: ltr;padding: 2px 3px 2px 3px;}
.ritz .waffle .s1 {background-color: #fff;text-align: left;color: #000;font-family: 'Arial';font-size: 10pt;vertical-align: bottom;white-space: nowrap;direction: ltr;padding: 2px 3px 2px 3px;}</style>
<div class="ritz grid-container" dir="ltr">
  <table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
      <th class="row-header"></th>
      <th id="0C0" style="width:212px;" class="column-headers-background">A</th>
      <th
        class="freezebar-cell frozen-column-cell freezebar-vertical-handle"></th>
      <th id="0C1" style="width:100px;" class="column-headers-background">B</th>
      <th id="0C2" style="width:100px;" class="column-headers-background">C</th>
      <th id="0C3" style="width:100px;" class="column-headers-background">D</th>
      <th id="0C4" style="width:100px;" class="column-headers-background">E</th>
      <th id="0C5" style="width:109px;" class="column-headers-background">F</th>
      <th id="0C6" style="width:112px;" class="column-headers-background">G</th>
    </tr>
    </thead>
    <tbody>
    <tr style="height: 20px">
      <th id="0R0" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">1</div>
      </th>
      <td class="s0" dir="ltr">Name</td>
      <td class="freezebar-cell"></td>
      <td class="s1" dir="ltr">Den</td>
      <td class="s1" dir="ltr">DoorToDoor</td>
      <td class="s1" dir="ltr">ShowNSell</td>
      <td class="s1" dir="ltr">Total</td>
      <td class="s1" dir="ltr">Pro-rated fees</td>
      <td></td>
    </tr>
    <tr>
      <th style="height:3px;"
          class="freezebar-cell freezebar-horizontal-handle"></th>
      <td class="freezebar-cell"></td>
      <td class="freezebar-cell"></td>
      <td class="freezebar-cell"></td>
      <td class="freezebar-cell"></td>
      <td class="freezebar-cell"></td>
      <td class="freezebar-cell"></td>
      <td class="freezebar-cell"></td>
      <td class="freezebar-cell"></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R1" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">2</div>
      </th>
      <td class="s2" dir="ltr">Justin &amp; Mathew Cooper</td>
      <td class="freezebar-cell"></td>
      <td class="s1" dir="ltr">AOL+Webelos</td>
      <td class="s3">$195</td>
      <td class="s3" dir="ltr">$1,552</td>
      <td class="s3">$1,747</td>
      <td class="s3">$0</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R2" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">3</div>
      </th>
      <td class="s2" dir="ltr">Robert &amp; Camile Trovillos</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3" dir="ltr">$548</td>
      <td class="s3">$708</td>
      <td class="s3">$1,256</td>
      <td class="s3">$0</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R3" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">4</div>
      </th>
      <td class="s2" dir="ltr">Abby Landrum</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3">$370</td>
      <td class="s3" dir="ltr">$621</td>
      <td class="s3">$991</td>
      <td class="s3">$0</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R4" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">5</div>
      </th>
      <td class="s2" dir="ltr">Declan Dorsey</td>
      <td class="freezebar-cell"></td>
      <td class="s1" dir="ltr">Bear</td>
      <td class="s3">$110</td>
      <td class="s3" dir="ltr">$853</td>
      <td class="s3">$963</td>
      <td class="s3">$0</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R5" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">6</div>
      </th>
      <td class="s2" dir="ltr">Henry Houston</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3">$545</td>
      <td class="s3" dir="ltr">$395</td>
      <td class="s3">$940</td>
      <td class="s3">$0</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R6" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">7</div>
      </th>
      <td class="s2" dir="ltr">Isla Moore</td>
      <td class="freezebar-cell"></td>
      <td class="s1" dir="ltr">AOL</td>
      <td class="s3">$100</td>
      <td class="s3" dir="ltr">$755</td>
      <td class="s3">$855</td>
      <td class="s3">$0</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R7" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">8</div>
      </th>
      <td class="s2" dir="ltr">Chance &amp; Tucker Carlton</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3">$160</td>
      <td class="s3">$646</td>
      <td class="s3">$806</td>
      <td class="s3">$29</td>
      <td class="s1" dir="ltr">For each Scout</td>
    </tr>
    <tr style="height: 20px">
      <th id="0R8" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">9</div>
      </th>
      <td class="s2" dir="ltr">Cooper Stupec</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3">$30</td>
      <td class="s3" dir="ltr">$755</td>
      <td class="s3">$785</td>
      <td class="s3">$0</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R9" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">10</div>
      </th>
      <td class="s2" dir="ltr">Bridger Vanikoitis</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3">$25</td>
      <td class="s3" dir="ltr">$665</td>
      <td class="s3">$690</td>
      <td class="s3">$0</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R10" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">11</div>
      </th>
      <td class="s2" dir="ltr">Kees Wolber</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3">$290</td>
      <td class="s3" dir="ltr">$379</td>
      <td class="s3">$669</td>
      <td class="s3">$0</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R11" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">12</div>
      </th>
      <td class="s2" dir="ltr">John Klein</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3">$50</td>
      <td class="s3">$575</td>
      <td class="s3">$625</td>
      <td class="s3">$0</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R12" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">13</div>
      </th>
      <td class="s2" dir="ltr">Sam Klein</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3">$50</td>
      <td class="s3">$575</td>
      <td class="s3">$625</td>
      <td class="s3">$0</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R13" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">14</div>
      </th>
      <td class="s4" dir="ltr">Ben Kinkel</td>
      <td class="freezebar-cell"></td>
      <td class="s1" dir="ltr">AOL</td>
      <td class="s3" dir="ltr">$190</td>
      <td class="s3">$391</td>
      <td class="s3">$581</td>
      <td class="s3">$0</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R14" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">15</div>
      </th>
      <td class="s2" dir="ltr">Henry Walton</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3">$350</td>
      <td class="s3">$209</td>
      <td class="s3">$559</td>
      <td class="s3">$0</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R15" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">16</div>
      </th>
      <td class="s2" dir="ltr">Aemon Rittenberry</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3">$160</td>
      <td class="s3" dir="ltr">$389</td>
      <td class="s3">$549</td>
      <td class="s3">$0</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R16" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">17</div>
      </th>
      <td class="s2" dir="ltr">Parker Randolph</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3">$145</td>
      <td class="s3" dir="ltr">$379</td>
      <td class="s3">$524</td>
      <td class="s3">$0</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R17" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">18</div>
      </th>
      <td class="s2" dir="ltr">Elliott Smith</td>
      <td class="freezebar-cell"></td>
      <td class="s1" dir="ltr">Tiger</td>
      <td class="s3">$115</td>
      <td class="s3" dir="ltr">$383</td>
      <td class="s3">$498</td>
      <td class="s3">$0</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R18" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">19</div>
      </th>
      <td class="s2" dir="ltr">Simon Harrison</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3" dir="ltr">$330</td>
      <td class="s3">$158</td>
      <td class="s3">$488</td>
      <td class="s3">$0</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R19" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">20</div>
      </th>
      <td class="s2" dir="ltr">Jack Crowfoot</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3">$350</td>
      <td class="s3" dir="ltr">$134</td>
      <td class="s3">$484</td>
      <td class="s3">$0</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R20" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">21</div>
      </th>
      <td class="s2" dir="ltr">William Miller</td>
      <td class="freezebar-cell"></td>
      <td class="s1" dir="ltr">AOL</td>
      <td class="s3">$300</td>
      <td class="s3">$182</td>
      <td class="s3">$482</td>
      <td class="s3">$0</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R21" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">22</div>
      </th>
      <td class="s2" dir="ltr">Phineas Walker</td>
      <td class="freezebar-cell"></td>
      <td class="s1" dir="ltr">AOL</td>
      <td class="s3" dir="ltr">$185</td>
      <td class="s3">$294</td>
      <td class="s3">$479</td>
      <td class="s3">$0</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R22" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">23</div>
      </th>
      <td class="s2" dir="ltr">Kate Varner</td>
      <td class="freezebar-cell"></td>
      <td class="s1" dir="ltr">AOL</td>
      <td class="s3">$50</td>
      <td class="s3" dir="ltr">$383</td>
      <td class="s3">$433</td>
      <td class="s3">$17</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R23" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">24</div>
      </th>
      <td class="s2" dir="ltr">Scott Davis</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3">$240</td>
      <td class="s3">$182</td>
      <td class="s3">$422</td>
      <td class="s3">$21</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R24" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">25</div>
      </th>
      <td class="s4" dir="ltr">Edward Rajala</td>
      <td class="freezebar-cell"></td>
      <td class="s1" dir="ltr">AOL</td>
      <td class="s1"></td>
      <td class="s3">$406</td>
      <td class="s3">$406</td>
      <td class="s3">$28</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R25" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">26</div>
      </th>
      <td class="s4" dir="ltr">William Windham</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s1"></td>
      <td class="s3" dir="ltr">$384</td>
      <td class="s3">$384</td>
      <td class="s3">$37</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R26" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">27</div>
      </th>
      <td class="s2" dir="ltr">Henry Wattlington</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3">$200</td>
      <td class="s3">$182</td>
      <td class="s3">$382</td>
      <td class="s3">$38</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R27" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">28</div>
      </th>
      <td class="s2" dir="ltr">Carson Horn</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3">$175</td>
      <td class="s3" dir="ltr">$204</td>
      <td class="s3">$379</td>
      <td class="s3">$39</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R28" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">29</div>
      </th>
      <td class="s2" dir="ltr">Chip Harrel</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3">$375</td>
      <td class="s3" dir="ltr">$0</td>
      <td class="s3">$375</td>
      <td class="s3">$40</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R29" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">30</div>
      </th>
      <td class="s2" dir="ltr">Charlies, Maggie, Daniel Jackson</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3">$150</td>
      <td class="s3">$192</td>
      <td class="s3">$342</td>
      <td class="s3">$146</td>
      <td class="s1" dir="ltr">For Each Scout</td>
    </tr>
    <tr style="height: 20px">
      <th id="0R30" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">31</div>
      </th>
      <td class="s4" dir="ltr">Joey Neely</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s1"></td>
      <td class="s3">$329</td>
      <td class="s3">$329</td>
      <td class="s3">$59</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R31" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">32</div>
      </th>
      <td class="s2" dir="ltr">Sam Welch</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s1"></td>
      <td class="s3">$329</td>
      <td class="s3">$329</td>
      <td class="s3">$59</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R32" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">33</div>
      </th>
      <td class="s2" dir="ltr">August Cone</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3">$95</td>
      <td class="s3" dir="ltr">$204</td>
      <td class="s3">$299</td>
      <td class="s3">$71</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R33" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">34</div>
      </th>
      <td class="s2" dir="ltr">Ethan Miller</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3">$115</td>
      <td class="s3">$182</td>
      <td class="s3">$297</td>
      <td class="s3">$72</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R34" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">35</div>
      </th>
      <td class="s2" dir="ltr">annabel Barlow</td>
      <td class="freezebar-cell"></td>
      <td class="s1" dir="ltr">AOL</td>
      <td class="s1"></td>
      <td class="s3">$286</td>
      <td class="s3">$286</td>
      <td class="s3">$76</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R35" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">36</div>
      </th>
      <td class="s4" dir="ltr">Abby Dean Cofer</td>
      <td class="freezebar-cell"></td>
      <td class="s1" dir="ltr">AOL</td>
      <td class="s1"></td>
      <td class="s3">$245</td>
      <td class="s3">$245</td>
      <td class="s3">$93</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R36" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">37</div>
      </th>
      <td class="s4" dir="ltr">Hunter Rosengren</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s1"></td>
      <td class="s3" dir="ltr">$236</td>
      <td class="s3">$236</td>
      <td class="s3">$97</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R37" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">38</div>
      </th>
      <td class="s2" dir="ltr">Lauren Malone</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3">$50</td>
      <td class="s3">$182</td>
      <td class="s3">$232</td>
      <td class="s3">$98</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R38" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">39</div>
      </th>
      <td class="s2" dir="ltr">Michael Ross</td>
      <td class="freezebar-cell"></td>
      <td class="s1" dir="ltr">Tiger?</td>
      <td class="s1"></td>
      <td class="s3">$209</td>
      <td class="s3">$209</td>
      <td class="s3">$108</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R39" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">40</div>
      </th>
      <td class="s2" dir="ltr">Evan Malone</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3">$25</td>
      <td class="s3">$182</td>
      <td class="s3">$207</td>
      <td class="s3">$108</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R40" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">41</div>
      </th>
      <td class="s2" dir="ltr">Saoirse Davis</td>
      <td class="freezebar-cell"></td>
      <td class="s1" dir="ltr">Webelos</td>
      <td class="s1"></td>
      <td class="s3" dir="ltr">$204</td>
      <td class="s3">$204</td>
      <td class="s3">$110</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R41" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">42</div>
      </th>
      <td class="s2" dir="ltr">Weston Rosengren</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s1"></td>
      <td class="s3">$198</td>
      <td class="s3">$198</td>
      <td class="s3">$112</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R42" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">43</div>
      </th>
      <td class="s5" dir="ltr">Max dantzler</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s1"></td>
      <td class="s3">$191</td>
      <td class="s3">$191</td>
      <td class="s3">$115</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R43" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">44</div>
      </th>
      <td class="s5" dir="ltr">Mathew Redmond</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3">$160</td>
      <td class="s3" dir="ltr">$0</td>
      <td class="s3">$160</td>
      <td class="s3">$127</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R44" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">45</div>
      </th>
      <td class="s5" dir="ltr">Richard Redmond</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3">$160</td>
      <td class="s3" dir="ltr">$0</td>
      <td class="s3">$160</td>
      <td class="s3">$127</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R45" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">46</div>
      </th>
      <td class="s5" dir="ltr">Grady Dickerson</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3">$145</td>
      <td class="s3" dir="ltr">$0</td>
      <td class="s3">$145</td>
      <td class="s3">$133</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R46" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">47</div>
      </th>
      <td class="s5" dir="ltr">Welles Wingo</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3" dir="ltr">$130</td>
      <td class="s3" dir="ltr">$0</td>
      <td class="s3">$130</td>
      <td class="s3">$139</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R47" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">48</div>
      </th>
      <td class="s5" dir="ltr">Jaxson Gravett</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s3" dir="ltr">$100</td>
      <td class="s3" dir="ltr">$0</td>
      <td class="s3">$100</td>
      <td class="s3">$152</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R48" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">49</div>
      </th>
      <td class="s5" dir="ltr">Colin Ricketts</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s1"></td>
      <td class="s3" dir="ltr">$64</td>
      <td class="s3">$64</td>
      <td class="s3">$166</td>
      <td></td>
    </tr>
    <tr style="height: 20px">
      <th id="0R49" style="height: 20px;" class="row-headers-background">
        <div class="row-header-wrapper" style="line-height: 20px">50</div>
      </th>
      <td class="s1" dir="ltr">Micah Quisenberry</td>
      <td class="freezebar-cell"></td>
      <td></td>
      <td class="s1"></td>
      <td class="s3" dir="ltr">$64</td>
      <td class="s3">$64</td>
      <td class="s3">$166</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>